.trending{
    padding: 40px 0;
}
.trending .title{
    font-size: 14px;
    font-weight: 600;
}
.trending .title i{
    font-size: 16px;
    margin-right: 10px;
}
.trending .c-card{
    margin-bottom: 30px;
}
.trending a{
    color: var(--text-color);
    text-decoration: none;
}
.trending .c-card .num{
    font-size: 35px;
    font-weight: 800;
    color: rgba(230, 230, 230, 1);
    margin-right: 18px;
}
.trending .c-card .name{
    margin-bottom: 0.5rem !important;
}
.trending .c-card .desc{
    font-weight: 800;
    line-height: 22px;
}
.trending .c-card .date{
    color: var(--text-muted);
}